@using BikeFit2.Models
@model List<Manufacturer>

@foreach (var manufacturer in Model)
{
    <h2 class="page-header">@manufacturer.Name</h2>

    foreach (var bikeModel in manufacturer.Models)
    {
        <h3>@bikeModel.Name</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Stack</th>
                    <th>Reach</th>
                    <th>Front Center</th>
                    <th>Head Tube Angle</th>
                    <th>Head Tube Length</th>
                    <th>Seat Angle (Min)</th>
                    <th>Seat Angle (Max)</th>
                    <th>Wheel Size</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var size in bikeModel.Sizes)
                {
                    <tr>
                        <td>@size.Size</td>
                        <td>@size.Stack</td>
                        <td>@size.Reach</td>
                        <td>@size.FrontCenter</td>
                        <td>@size.HeadTubeAngle°</td>
                        <td>@size.HeadTubeLength</td>
                        <td>@size.MinSeatAngle°</td>
                        <td>@size.MaxSeatAngle°</td>
                        <td>
                            @if (size.WheelSize == WheelSize.SevenHundred)
                            {
                                <text>700</text>
                            }
                            else
                            {
                                <text>650</text>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
