@model BikeFit2.Models.ViewModels.GeometryTableViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Manufacturer, new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.Manufacturer, Model.ManufacturerList)
    </div>
    @Html.LabelFor(model => model.BikeType, new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.BikeType, Model.BikeTypesList)
    </div>
</div>

@Html.Partial("GeometryTableSubView", Model.Manufacturers)
