@model BikeFit2.Models.ViewModels.GeometryTableViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Manufacturer, new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.Manufacturer, Model.ManufacturerList, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => model.BikeType, new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.BikeType, Model.BikeTypesList, new { @class = "form-control" }))
    </div>
</div>

@Html.Partial("GeometryTableSubView", Model.Manufacturers)

@section scripts
{
    <script>
    $('#Manufacturer').change(function () {
        var manufacturer = $('#Manufacturer option:selected').text();
        var type = $('#BikeType option:selected').text();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GeometrySubTable", "Home")',
                data: { manufacturer: manufacturer, type: type },
                success: function (response) {
                    $('#GeometryTable').html(response);
                }
            });
        });
        $('#BikeType').change(function () {
            var manufacturer = $('#Manufacturer option:selected').text();
            var type = $('#BikeType option:selected').text();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GeometrySubTable", "Home")',
                data: { manufacturer: manufacturer, type: type },
                success: function (response) {
                    $('#GeometryTable').html(response);
                }
            });
        });
    </script>
}
